@keyframes typing {
  0% {
    content: ".";
  }
  60% {
    content: "..";
  }
  80% {
    content: "...";
  }
  100% {
    content: "";
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-blue: linear-gradient(45deg, #78b2be, #5293a9, #F7D8E0);
  --light-blue-contrast: linear-gradient(135deg, #00A8E8, #0077B6, #023E8A);
  --white: rgb(247, 247, 247);
}

body {
  min-height: 100vh;
  background: var(--light-blue);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.disabled {
  pointer-events: none;
  border: 3px solid rgb(57, 49, 49) !important;
}

.modal-container {
  position: fixed;
  z-index: 1;
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.modal-container.hidden {
  z-index: -1;
  opacity: 0;
}
.modal-container > .modal {
  background: #995f46;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 3px 4px rgba(0, 0, 0, 0.7);
}

.hidden {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.invalid {
  font-size: 12px;
  color: #9e2121;
  font-weight: bold;
}

.success {
  font-size: 14px;
  color: var(--white);
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 3px;
  background: var(--rust);
}

::-webkit-scrollbar-thumb {
  width: 1px;
  background: #211c1b;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.login-container form {
  width: 400px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.login-container form > input {
  border: 0;
  outline: 0;
  height: 30px;
  width: 200px;
  border-radius: 3px;
  padding: 0 10px;
  width: 250px;
}
.login-container form > input[type=submit] {
  box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  transition: 0.3s linear;
  cursor: pointer;
  height: 30px;
  width: 150px;
  border-radius: 4px;
  border: 0;
  outline: none;
  width: 150px;
}
.login-container form > input[type=submit]:hover {
  background: #cebaba;
}
.login-container form > input[type=submit]:active {
  transform: translateY(2px);
}
.login-container form > label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
.login-container > p > a, .login-container > p:nth-child(3), .login-container a > a, .login-container a:nth-child(3) {
  cursor: pointer;
  color: blue;
  font-weight: bold;
}
.login-container > p > a:hover, .login-container > p:nth-child(3):hover, .login-container a > a:hover, .login-container a:nth-child(3):hover {
  color: #1414ae;
}

.main-container {
  width: 1100px;
  height: 80vh;
  background: #d9d9c2;
  border-radius: 10px;
  display: flex;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.4);
  transition: 1s ease-out;
  overflow: hidden;
}
.main-container section {
  padding: 5px;
}
.main-container section.left {
  flex: 1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-right: 1px solid black;
}
.main-container section.left > div:first-child {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  gap: 10px;
  overflow-y: auto;
  position: relative;
}
.main-container section.left > div:first-child h3 {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px transparent solid;
}
.main-container section.left > div:first-child h3 span {
  background: url("./images/three-dots.svg") no-repeat;
  background-size: 100% 100%;
  height: 20px;
  width: 20px;
  display: inline-block;
}
.main-container section.left > div:first-child h3:hover {
  border-color: black;
}
.main-container section.left > div:first-child div.search {
  width: 100%;
  height: 30px;
  position: relative;
}
.main-container section.left > div:first-child div.search input[type=search] {
  border: 0;
  outline: 0;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  position: sticky;
  top: 0;
}
.main-container section.left > div:first-child div.search ul {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  width: 100%;
  background: beige;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 5;
  max-height: 300px;
  overflow-y: auto;
}
.main-container section.left > div:first-child div.search ul.show {
  display: block;
}
.main-container section.left > div:first-child div.search ul li {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% + 0px);
  padding: 0 10px;
  margin-bottom: 5px;
  font-weight: bold;
  cursor: pointer;
}
.main-container section.left > div:first-child div.search ul li:hover {
  background: #caca7a;
}
.main-container section.left > div:first-child #message-list {
  width: 100%;
  border-radius: 4px;
}
.main-container section.left > div:first-child #message-list #rooms, .main-container section.left > div:first-child #message-list #all-friend {
  width: 100%;
  height: auto;
}
.main-container section.left > div:first-child #message-list #rooms[open] > summary:before, .main-container section.left > div:first-child #message-list #all-friend[open] > summary:before {
  transition: 0.3s linear;
  transform: rotate(-90deg);
  top: calc(50% - 5px);
}
.main-container section.left > div:first-child #message-list #rooms summary, .main-container section.left > div:first-child #message-list #all-friend summary {
  list-style-type: none;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  border-radius: 4px;
  padding-left: 2px;
}
.main-container section.left > div:first-child #message-list #rooms summary:hover, .main-container section.left > div:first-child #message-list #all-friend summary:hover {
  font-style: italic;
  background: #a29e8c;
}
.main-container section.left > div:first-child #message-list #rooms summary:before, .main-container section.left > div:first-child #message-list #all-friend summary:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("./images/arrow.svg") no-repeat;
  background-size: 100% 100%;
  top: 50%;
  left: calc(100% - 20px);
  position: absolute;
  transform: translateY(-50%);
}
.main-container section.left > div:first-child #message-list #rooms > div, .main-container section.left > div:first-child #message-list #all-friend > div {
  display: flex;
  padding: 5px;
  height: 60px;
  width: 100%;
  gap: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.main-container section.left > div:first-child #message-list #rooms > div:hover, .main-container section.left > div:first-child #message-list #all-friend > div:hover {
  background: #73733d;
}
.main-container section.left > div:first-child #message-list #rooms > div > div:first-child, .main-container section.left > div:first-child #message-list #all-friend > div > div:first-child {
  height: 50px;
  width: 60px;
  background-color: red;
}
.main-container section.left > div:first-child #message-list #rooms > div > div:last-child, .main-container section.left > div:first-child #message-list #all-friend > div > div:last-child {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
}
.main-container section.left > div:first-child #message-list #rooms > div > div:last-child h6, .main-container section.left > div:first-child #message-list #all-friend > div > div:last-child h6 {
  font-size: 18px;
}
.main-container section.left > div:first-child #message-list #rooms > div > div:last-child p, .main-container section.left > div:first-child #message-list #all-friend > div > div:last-child p {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 30px;
  white-space: nowrap;
  display: inline-block;
  font-size: 14px;
}
.main-container section.left > div:first-child #message-list #rooms {
  display: flex;
  flex-direction: column;
}
.main-container section.left > div:first-child #message-list #rooms > input[type=button] {
  box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  transition: 0.3s linear;
  cursor: pointer;
  height: 30px;
  width: 150px;
  border-radius: 4px;
  border: 0;
  outline: none;
  margin: 10px auto;
  background-color: #829cd0;
}
.main-container section.left > div:first-child #message-list #rooms > input[type=button]:hover {
  background: #cebaba;
}
.main-container section.left > div:first-child #message-list #rooms > input[type=button]:active {
  transform: translateY(2px);
}
.main-container section.left > div:first-child #message-list #rooms > input[type=button]:hover {
  background-color: #677ba3;
}
.main-container section.left > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  height: 50px;
}
.main-container section.left > div:last-child > input {
  box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  transition: 0.3s linear;
  cursor: pointer;
  height: 30px;
  width: 150px;
  border-radius: 4px;
  border: 0;
  outline: none;
}
.main-container section.left > div:last-child > input:hover {
  background: #cebaba;
}
.main-container section.left > div:last-child > input:active {
  transform: translateY(2px);
}
.main-container section.right {
  flex: 2;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.main-container section.right > div:first-child {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px black solid;
}
.main-container section.right > div:first-child > h4 {
  font-size: 24px;
}
.main-container section.right > div:first-child > span {
  height: 30px;
  width: 30px;
  background: transparent;
  display: inline-block;
}
.main-container section.right > ul {
  height: calc(100% - 120px);
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.main-container section.right > ul > div {
  width: 100%;
  height: 30px;
  background-color: transparent;
  margin-top: auto !important;
}
.main-container section.right > ul > li {
  word-break: break-word;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.main-container section.right > ul > li.main > span {
  display: none;
}
.main-container section.right > ul > li.main > div {
  justify-content: end;
}
.main-container section.right > ul > li.main > div > span {
  display: none;
}
.main-container section.right > ul > li > span {
  display: block;
  text-align: start;
  width: 100%;
  height: 20px;
  font-size: 14px;
  padding-left: 40px;
}
.main-container section.right > ul > li > div {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: end;
}
.main-container section.right > ul > li > div > span {
  width: 35px;
  height: 35px;
  background-color: rgb(185, 185, 170);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.main-container section.right > ul > li > div > p {
  min-height: 35px;
  max-width: 60%;
  padding: 10px 20px;
  border-radius: 10px;
  background: #d9a288;
}
.main-container section.right > p {
  opacity: 0;
  margin: 5px auto 0 auto;
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 3px;
  padding-left: 10px;
  font-weight: bold;
}
.main-container section.right > p.show {
  opacity: 1;
}
.main-container section.right > p > span {
  position: relative;
}
.main-container section.right > p > span:after {
  width: 50px;
  height: 100%;
  font-size: 16px;
  display: inline-block;
  content: "...";
  animation: 2.5s typing infinite;
  position: sticky;
  bottom: 0;
}
.main-container section.right > div:last-child {
  height: 70px;
  border-bottom-right-radius: 6px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.main-container section.right > div:last-child > div:first-child {
  display: flex;
  align-items: center;
  height: 30px;
  width: max(30px, 5%);
  background: url("./images/happy.svg") no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  border-radius: 60%;
  position: relative;
}
.main-container section.right > div:last-child > div:first-child:hover {
  background-color: yellow;
}
.main-container section.right > div:last-child > div:first-child > div {
  display: none;
  position: absolute;
  bottom: calc(100% + 10px);
}
.main-container section.right > div:last-child > textarea {
  height: 70px;
  width: 85%;
  border: 1px black solid;
  outline: none;
  resize: none;
  padding: 5px;
  font-size: 16px;
}
.main-container section.right > div:last-child > input[type=button] {
  box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  transition: 0.3s linear;
  cursor: pointer;
  height: 30px;
  width: 150px;
  border-radius: 4px;
  border: 0;
  outline: none;
  height: 100%;
  width: 10%;
  border: 1px black solid;
}
.main-container section.right > div:last-child > input[type=button]:hover {
  background: #cebaba;
}
.main-container section.right > div:last-child > input[type=button]:active {
  transform: translateY(2px);
}
@media screen and (max-width: 1200px) {
  .main-container {
    width: 1000px;
  }
}
@media screen and (max-width: 1024px) {
  .main-container {
    width: 800px;
  }
}

.connect-modal {
  overflow-y: auto;
}
.connect-modal > h1 {
  text-align: center;
}
.connect-modal > input[type=text] {
  border: 0;
  outline: 0;
  height: 30px;
  width: 200px;
  border-radius: 3px;
  padding: 0 10px;
  width: 250px;
  margin: 0 auto;
}
.connect-modal > section {
  overflow-y: auto;
  height: 100%;
}
.connect-modal > section > table {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.connect-modal > section > table tbody {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 100%;
}
.connect-modal > section > table tbody tr {
  width: 100%;
  display: flex;
  gap: 5px;
  cursor: pointer;
}
.connect-modal > section > table tbody tr:hover > td:nth-child(2) p {
  scale: 1.2;
  color: #e3d3d3;
}
.connect-modal > section > table tbody tr td {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.connect-modal > section > table tbody tr td:first-child {
  border-radius: 50%;
  border: 1px black solid;
  width: 50px;
  height: 50px;
}
.connect-modal > section > table tbody tr td:last-child {
  flex: 1;
  width: 100px;
  height: 50px;
  display: flex;
  gap: 5px;
}
.connect-modal > section > table tbody tr td:last-child > input {
  box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  transition: 0.3s linear;
  cursor: pointer;
  height: 30px;
  width: 150px;
  border-radius: 4px;
  border: 0;
  outline: none;
  height: 50px;
  padding: 5px;
  background: linear-gradient(#68d5b5, #8ea926);
}
.connect-modal > section > table tbody tr td:last-child > input:hover {
  background: #cebaba;
}
.connect-modal > section > table tbody tr td:last-child > input:active {
  transform: translateY(2px);
}
.connect-modal > section > table tbody tr td:last-child > input:hover {
  background: linear-gradient(#68d5b5, #8ea926);
}
.connect-modal > section > table tbody tr td:nth-child(2) {
  flex: 2;
  padding: 5px;
}
.connect-modal > section > table tbody tr td:nth-child(2) p {
  font-weight: bold;
  text-align: center;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.group-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.group-modal > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.group-modal > form hr {
  width: 100%;
  background-color: rgb(45, 43, 43);
  border: none;
  height: 2px;
}
.group-modal > form > input[type=text] {
  border: 0;
  outline: 0;
  height: 30px;
  width: 200px;
  border-radius: 3px;
  padding: 0 10px;
}
.group-modal > form > div:nth-child(3) {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.group-modal > form > div:nth-child(3) > div {
  position: relative;
}
.group-modal > form > div:nth-child(3) > div ul {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  background-color: beige;
  width: 100%;
  max-height: 250px;
  overflow: auto;
  flex-direction: column;
  gap: 5px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.group-modal > form > div:nth-child(3) > div ul.show {
  display: flex;
}
.group-modal > form > div:nth-child(3) > div ul li {
  text-align: center;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
  z-index: 5;
}
.group-modal > form > div:nth-child(3) input {
  border: 0;
  outline: 0;
  height: 30px;
  width: 200px;
  border-radius: 3px;
  padding: 0 10px;
}
.group-modal > form > div:nth-child(3) input[type=button], .group-modal > form > div:nth-child(3) input[type=submit] {
  box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  transition: 0.3s linear;
  cursor: pointer;
  height: 30px;
  width: 150px;
  border-radius: 4px;
  border: 0;
  outline: none;
  width: 100px;
}
.group-modal > form > div:nth-child(3) input[type=button]:hover, .group-modal > form > div:nth-child(3) input[type=submit]:hover {
  background: #cebaba;
}
.group-modal > form > div:nth-child(3) input[type=button]:active, .group-modal > form > div:nth-child(3) input[type=submit]:active {
  transform: translateY(2px);
}
.group-modal > form > div:nth-child(4) {
  border-radius: 10px;
  height: 260px;
  overflow-y: auto;
}
.group-modal > form > div:nth-child(4) > table {
  height: 100%;
  border-collapse: collapse;
  border-radius: inherit;
  padding: 50px;
  overflow: hidden;
}
.group-modal > form > div:nth-child(4) > table tbody {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.group-modal > form > div:nth-child(4) > table tbody tr {
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 50px;
}
.group-modal > form > div:nth-child(4) > table tbody tr:hover {
  scale: 1.2;
  font-weight: bold;
}
.group-modal > form > div:nth-child(4) > table tbody tr:nth-child(odd) {
  background-color: rgb(139, 139, 201);
}
.group-modal > form > div:nth-child(4) > table tbody tr:nth-child(even) {
  background-color: rgb(200, 200, 178);
}
.group-modal > form > div:nth-child(4) > table tbody tr:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.group-modal > form > div:nth-child(4) > table tbody tr:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.group-modal > form > div:nth-child(4) > table tbody tr td {
  height: 50px;
}
.group-modal > form > div:nth-child(4) > table tbody tr td:first-child {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 440px;
  padding: 15px 20px;
}
.group-modal > form > input[type=submit] {
  box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  transition: 0.3s linear;
  cursor: pointer;
  height: 30px;
  width: 150px;
  border-radius: 4px;
  border: 0;
  outline: none;
}
.group-modal > form > input[type=submit]:hover {
  background: #cebaba;
}
.group-modal > form > input[type=submit]:active {
  transform: translateY(2px);
}

.profile-container {
  border-top: 1px solid black;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  min-height: 450px;
  max-height: 450px;
}
.profile-container h1 {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
}
.profile-container h1.profile {
  color: rgb(18, 76, 137);
}
.profile-container h1.friends {
  color: rgb(38, 114, 34);
}
.profile-container h1.blocklist {
  color: rgb(222, 36, 36);
}
.profile-container > div:first-child {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.profile-container > div:first-child > input {
  box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  transition: 0.3s linear;
  cursor: pointer;
  height: 30px;
  width: 150px;
  border-radius: 4px;
  border: 0;
  outline: none;
  width: 50px;
}
.profile-container > div:first-child > input:hover {
  background: #cebaba;
}
.profile-container > div:first-child > input:active {
  transform: translateY(2px);
}
.profile-container > div:first-child hr {
  border: none;
  height: 2px;
  width: 100%;
  background-color: rgb(73, 52, 52);
}
.profile-container > div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.profile-container > div:nth-child(2) > input[type=button] {
  box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  transition: 0.3s linear;
  cursor: pointer;
  height: 30px;
  width: 150px;
  border-radius: 4px;
  border: 0;
  outline: none;
  font-size: 12px;
  background-color: lightpink;
  text-transform: uppercase;
}
.profile-container > div:nth-child(2) > input[type=button]:hover {
  background: #cebaba;
}
.profile-container > div:nth-child(2) > input[type=button]:active {
  transform: translateY(2px);
}
.profile-container > form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.profile-container > form > input:not([type=submit], [type=button]), .profile-container > form select {
  border: 0;
  outline: 0;
  height: 30px;
  width: 200px;
  border-radius: 3px;
  padding: 0 10px;
}
.profile-container > form > input[type=submit] {
  box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  transition: 0.3s linear;
  cursor: pointer;
  height: 30px;
  width: 150px;
  border-radius: 4px;
  border: 0;
  outline: none;
  background-color: rgb(45, 205, 211);
}
.profile-container > form > input[type=submit]:hover {
  background: #cebaba;
}
.profile-container > form > input[type=submit]:active {
  transform: translateY(2px);
}
.profile-container > form > input[type=button] {
  box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  transition: 0.3s linear;
  cursor: pointer;
  height: 30px;
  width: 150px;
  border-radius: 4px;
  border: 0;
  outline: none;
  background-color: rgb(195, 195, 50);
}
.profile-container > form > input[type=button]:hover {
  background: #cebaba;
}
.profile-container > form > input[type=button]:active {
  transform: translateY(2px);
}
.profile-container > .friend, .profile-container > .block {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.profile-container > .friend > table, .profile-container > .block > table {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.profile-container > .friend > table tbody, .profile-container > .block > table tbody {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 100%;
}
.profile-container > .friend > table tbody tr, .profile-container > .block > table tbody tr {
  width: 100%;
  display: flex;
  gap: 5px;
  cursor: pointer;
}
.profile-container > .friend > table tbody tr:hover > td:nth-child(2) p, .profile-container > .block > table tbody tr:hover > td:nth-child(2) p {
  scale: 1.2;
  color: #e3d3d3;
}
.profile-container > .friend > table tbody tr td, .profile-container > .block > table tbody tr td {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.profile-container > .friend > table tbody tr td:first-child, .profile-container > .block > table tbody tr td:first-child {
  border-radius: 50%;
  border: 1px black solid;
  width: 50px;
  height: 50px;
}
.profile-container > .friend > table tbody tr td:nth-child(2), .profile-container > .block > table tbody tr td:nth-child(2) {
  flex: 2;
  padding: 5px;
}
.profile-container > .friend > table tbody tr td:nth-child(2) p, .profile-container > .block > table tbody tr td:nth-child(2) p {
  font-weight: bold;
  text-align: center;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.profile-container > .friend > table tbody tr td:last-child, .profile-container > .block > table tbody tr td:last-child {
  flex: 1;
  width: 100px;
  height: 50px;
  display: flex;
  gap: 5px;
}
.profile-container > .friend > table tbody tr td:last-child > input, .profile-container > .block > table tbody tr td:last-child > input {
  box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  transition: 0.3s linear;
  cursor: pointer;
  height: 30px;
  width: 150px;
  border-radius: 4px;
  border: 0;
  outline: none;
  height: 45px;
  padding: 5px;
}
.profile-container > .friend > table tbody tr td:last-child > input:hover, .profile-container > .block > table tbody tr td:last-child > input:hover {
  background: #cebaba;
}
.profile-container > .friend > table tbody tr td:last-child > input:active, .profile-container > .block > table tbody tr td:last-child > input:active {
  transform: translateY(2px);
}
.profile-container > .friend > table tbody tr td:last-child > input:nth-child(1), .profile-container > .block > table tbody tr td:last-child > input:nth-child(1) {
  background: linear-gradient(#68d5b5, #8ea926);
}
.profile-container > .friend > table tbody tr td:last-child > input:nth-child(2), .profile-container > .block > table tbody tr td:last-child > input:nth-child(2) {
  background: linear-gradient(#acb6b3, #81827b);
}

#registerContainer {
  display: flex;
  flex-direction: column;
}
#registerContainer p {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
}
#registerContainer p > a {
  color: blue;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}
#registerContainer p > a:hover {
  color: #1414ae;
}
#registerContainer form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
#registerContainer form input {
  height: 30px;
  width: 200px;
  border: 0;
  outline: none;
  border-radius: 2px;
  padding: 0 10px;
}
#registerContainer form input[type=submit] {
  background-color: #cae04e;
  width: 150px;
  border-radius: 6px;
  font-weight: bold;
  border: 0 !important;
  cursor: pointer;
  transition: 0.3s linear;
}
#registerContainer form input[type=submit]:active {
  transform: translateY(-2px);
}
#registerContainer form > fieldset {
  height: 50px;
  padding: 0 5px;
  width: 200px;
}
#registerContainer form > fieldset > legend {
  font-weight: bold;
  padding: 0 5px;
}
#registerContainer form > fieldset > input {
  width: 100%;
}

.reset-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.reset-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.reset-container form > div.success {
  font-size: 14;
  font-weight: bold;
  color: var(--white);
}
.reset-container form p {
  font-weight: bold;
  font-size: 24px;
}
.reset-container form > input[type=email] {
  border: 0;
  outline: 0;
  height: 30px;
  width: 200px;
  border-radius: 3px;
  padding: 0 10px;
}
.reset-container form > input[type=submit] {
  box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  transition: 0.3s linear;
  cursor: pointer;
  height: 30px;
  width: 150px;
  border-radius: 4px;
  border: 0;
  outline: none;
}
.reset-container form > input[type=submit]:hover {
  background: #cebaba;
}
.reset-container form > input[type=submit]:active {
  transform: translateY(2px);
}
.reset-container a {
  font-weight: bold;
  color: black;
}
.reset-container a span {
  color: blue;
  cursor: pointer;
}

/*# sourceMappingURL=app.css.map */
