.reset-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    > div.success {
      font-size: 14;
      font-weight: bold;
      color: var(--white);
    }
    p {
      font-weight: bold;
      font-size: 24px;
    }
    > input[type="email"] {
      @include defaultInput;
    }

    > input[type="submit"] {
      @include defaultBtn;
    }
  }
  a {
    font-weight: bold;
    color: black;
    span {
      color: blue;
      cursor: pointer;
    }
  }
}

.change-password {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  > a {
    @include defaultBtn;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
  }
  > input[type="password"] {
    @include defaultInput;
  }
  > input[type="submit"] {
    @include defaultBtn;
    background-color: rgb(168, 181, 26);
  }
}
